
.app-container {
  background-color: #1b1b2f; 
  color: #ffffff; 
  font-family: Arial, sans-serif;
  padding: 20px;
}


.apply-filter-btn {
  background-color: #009ffd; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.apply-filter-btn:hover {
  background-color: #005792; 
}


.chart-container {
  background-color: #1f4068; 
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}


.sparkline-container {
  display: flex;
  justify-content: space-between;
  background-color: #162447;
  padding: 10px;
  border-radius: 10px;
}
